In [1]:
import mysql.connector as connector

In [2]:
connection = connector.connect(user="root",password="root123")

In [3]:
#passed the connection to a cursor
cursor = connection.cursor()

In [5]:
cursor.execute("DROP DATABASE IF EXISTS little_lemons;" )

In [6]:
#create database
create_database = """CREATE DATABASE little_lemons"""

In [7]:
#execute database
cursor.execute(create_database)

In [8]:
# set the database for use
use_database = """USE little_lemons"""

In [9]:
# pass the database to execute
cursor.execute(use_database)

In [11]:
# Create table MenuItem
create_table = """CREATE TABLE MenuItem (
ItemID INT AUTO_INCREMENT,
Name VARCHAR(200),
Type VARCHAR(100),
Price INT,
PRIMARY KEY(ItemID))
"""

In [12]:
cursor.execute(create_table)

In [13]:
# show databases created
cursor.execute("""SHOW DATABASES""")
for database in cursor:
    print(database)

('information_schema',)
('little_lemon',)
('little_lemons',)
('mysql',)
('performance_schema',)
('projects',)
('sys',)

In [14]:
# confirm that database is available
connection.database

'little_lemons'

In [18]:
create_menu_table = """CREATE TABLE Menus (
MenuID INT,
ItemID INT,
Cuisine VARCHAR(100),
PRIMARY KEY (MenuID,ItemID)
);"""

In [19]:
cursor.execute(create_menu_table)

In [20]:
insert_menu="""
INSERT INTO Menus (MenuID,ItemID,Cuisine)
VALUES
(1, 1, 'Greek'),
(1, 7, 'Greek'),
(1, 10, 'Greek'),
(1, 13, 'Greek'),
(2, 3, 'Italian'),
(2, 9, 'Italian'),
(2, 12, 'Italian'),
(2, 15, 'Italian'),
(3, 5, 'Turkish'),
(3, 17, 'Turkish'),
(3, 11, 'Turkish'),
(3, 16, 'Turkish');"""

In [21]:
cursor.execute(insert_menu)

In [22]:
connection.commit()

In [23]:
# show all tables created in the database

cursor.execute("SHOW TABLES")
for tables in cursor:
    print(tables)

('menuitem',)
('menus',)

In [25]:
buff_cursor = connection.cursor(buffered=True)
buff_cursor.execute("USE little_lemons")
buff_cursor.execute("SHOW TABLES")
for tables in buff_cursor:
    print(tables)

('menuitem',)
('menus',)

In [26]:
dict_cursor = connection.cursor(dictionary=True)
dict_cursor.execute("USE little_lemons")
dict_cursor.execute("SHOW TABLES")
for tables in dict_cursor:
    print(tables)

{'Tables_in_little_lemons': 'menuitem'}
{'Tables_in_little_lemons': 'menus'}

In [21]:
cursor.execute("DROP  IF EXIST")

In [22]:
# connection.commit()

In [29]:
# insert data into MenuItem
insert_menuitems="""
INSERT INTO MenuItem (ItemID, Name, Type, Price)
VALUES
(1,'Olives','Starters',5),
(2,'Flatbread','Starters', 5),
(3, 'Minestrone', 'Starters', 8),
(4, 'Tomato bread','Starters', 8),
(5, 'Falafel', 'Starters', 7),
(6, 'Hummus', 'Starters', 5),
(7, 'Greek salad', 'Main Courses', 15),
(8, 'Bean soup', 'Main Courses', 12),
(9, 'Pizza', 'Main Courses', 15),
(10,'Greek yoghurt','Desserts', 7),
(11, 'Ice cream', 'Desserts', 6),
(12, 'Cheesecake', 'Desserts', 4),
(13, 'Athens White wine', 'Drinks', 25),
(14, 'Corfu Red Wine', 'Drinks', 30),
(15, 'Turkish Coffee', 'Drinks', 10),
(16, 'Turkish Coffee', 'Drinks', 10),
(17, 'Kabasa', 'Main Courses', 17);"""

In [30]:
# pass the data into excute function
cursor.execute(insert_menuitmes)

In [31]:
# commit your connection
connection.commit()

In [32]:
# read data inserted
read_data = """SELECT * FROM MenuItem"""

In [33]:
cursor.execute(read_data)

In [34]:
# fetch all the data
result = cursor.fetchall()

In [35]:
print(result)

[(1, 'Olives', 'Starters', 5), (2, 'Flatbread', 'Starters', 5), (3, 'Minestrone', 'Starters', 8), (4, 'Tomato bread', 'Starters', 8), (5, 'Falafel', 'Starters', 7), (6, 'Hummus', 'Starters', 5), (7, 'Greek salad', 'Main Courses', 15), (8, 'Bean soup', 'Main Courses', 12), (9, 'Pizza', 'Main Courses', 15), (10, 'Greek yoghurt', 'Desserts', 7), (11, 'Ice cream', 'Desserts', 6), (12, 'Cheesecake', 'Desserts', 4), (13, 'Athens White wine', 'Drinks', 25), (14, 'Corfu Red Wine', 'Drinks', 30), (15, 'Turkish Coffee', 'Drinks', 10), (16, 'Turkish Coffee', 'Drinks', 10), (17, 'Kabasa', 'Main Courses', 17)]

In [36]:
for i in result:
    print(i)

(1, 'Olives', 'Starters', 5)
(2, 'Flatbread', 'Starters', 5)
(3, 'Minestrone', 'Starters', 8)
(4, 'Tomato bread', 'Starters', 8)
(5, 'Falafel', 'Starters', 7)
(6, 'Hummus', 'Starters', 5)
(7, 'Greek salad', 'Main Courses', 15)
(8, 'Bean soup', 'Main Courses', 12)
(9, 'Pizza', 'Main Courses', 15)
(10, 'Greek yoghurt', 'Desserts', 7)
(11, 'Ice cream', 'Desserts', 6)
(12, 'Cheesecake', 'Desserts', 4)
(13, 'Athens White wine', 'Drinks', 25)
(14, 'Corfu Red Wine', 'Drinks', 30)
(15, 'Turkish Coffee', 'Drinks', 10)
(16, 'Turkish Coffee', 'Drinks', 10)
(17, 'Kabasa', 'Main Courses', 17)

In [37]:
# get the column names
col = cursor.column_names

In [38]:
print(col)

('ItemID', 'Name', 'Type', 'Price')

In [ ]:
# connection.close()

In [ ]:
# update record in MenuItem table
# update_book = """
# UPDATE MenuItem
# SET Price = 100
# WHERE ItemID = 15;
# """

In [ ]:
# cursor.execute(update_book)

In [ ]:
# commit changes
# connection.commit()

In [ ]:
# delete record from bookings table
# del_record = """
# DELETE FROM MenuItem
# WHERE ItemID = 17;
# """

In [ ]:
# cursor.execute(del_record)

In [ ]:
# commit changes
# connection.commit()

In [39]:
# create booking table
create_booking_table="""CREATE TABLE Bookings (
BookingID INT AUTO_INCREMENT,
TableNo INT,
GuestFirstName VARCHAR(100) NOT NULL,
GuestLastName VARCHAR(100) NOT NULL,
BookingSlot TIME NOT NULL,
EmployeeID INT,
PRIMARY KEY (BookingID)
);"""

In [40]:
cursor.execute(create_booking_table)

In [41]:
insert_bookings="""
INSERT INTO Bookings (BookingID, TableNo, GuestFirstName, 
GuestLastName, BookingSlot, EmployeeID)
VALUES
(1,12,'Anna','Iversen','19:00:00',1),
(2, 12, 'Joakim', 'Iversen', '19:00:00', 1),
(3, 19, 'Vanessa', 'McCarthy', '15:00:00', 3),
(4, 15, 'Marcos', 'Romero', '17:30:00', 4),
(5, 5, 'Hiroki', 'Yamane', '18:30:00', 2),
(6, 8, 'Diana', 'Pinto', '20:00:00', 5);"""

In [42]:
cursor.execute(insert_bookings)

In [43]:
connection.commit()

In [44]:
show_bookings = """SELECT * FROM Bookings"""

In [45]:
cursor.execute(show_bookings)

In [46]:
fetch_bookings = cursor.fetchall()

In [47]:
print(fetch_bookings)

[(1, 12, 'Anna', 'Iversen', datetime.timedelta(seconds=68400), 1), (2, 12, 'Joakim', 'Iversen', datetime.timedelta(seconds=68400), 1), (3, 19, 'Vanessa', 'McCarthy', datetime.timedelta(seconds=54000), 3), (4, 15, 'Marcos', 'Romero', datetime.timedelta(seconds=63000), 4), (5, 5, 'Hiroki', 'Yamane', datetime.timedelta(seconds=66600), 2), (6, 8, 'Diana', 'Pinto', datetime.timedelta(seconds=72000), 5)]

In [48]:
# create orders table
create_orders_table="""
CREATE TABLE Orders (
OrderID INT,
TableNo INT,
MenuID INT,
BookingID INT,
BillAmount INT,
Quantity INT,
PRIMARY KEY (OrderID,TableNo)
);"""

In [49]:
cursor.execute(create_orders_table)

In [50]:
insert_orders="""
INSERT INTO Orders (OrderID, TableNo, MenuID, BookingID, Quantity, BillAmount)
VALUES
(1, 12, 1, 1, 2, 86),
(2, 19, 2, 2, 1, 37),
(3, 15, 2, 3, 1, 37),
(4, 5, 3, 4, 1, 40),
(5, 8, 1, 5, 1, 43);"""

In [51]:
cursor.execute(insert_orders)

In [52]:
connection.commit()

In [53]:
show_orders = """SELECT * FROM Orders"""

In [54]:
cursor.execute(show_orders)

In [55]:
fetch_orders = cursor.fetchall()

In [56]:
print(fetch_orders)

[(1, 12, 1, 1, 86, 2), (2, 19, 2, 2, 37, 1), (3, 15, 2, 3, 37, 1), (4, 5, 3, 4, 40, 1), (5, 8, 1, 5, 43, 1)]

In [57]:
# print the columns of Orders table
cols = cursor.column_names

In [58]:
print(cols)

('OrderID', 'TableNo', 'MenuID', 'BookingID', 'BillAmount', 'Quantity')

In [59]:
# fetch all orders whose billamount is greater than or equal to 40
sql_query = """SELECT BookingID, BillAmount
FROM Orders WHERE BillAmount >= 40
ORDER BY BillAmount ASC
"""

In [60]:
cursor.execute(sql_query)

In [61]:
fetch_query = cursor.fetchall()

In [62]:
# print the colnames and values
print(cursor.column_names)
for rows in fetch_query:
    print(rows)

('BookingID', 'BillAmount')
(4, 40)
(5, 43)
(1, 86)

In [63]:
cursor.execute("SHOW TABLES")
for table in cursor:
    print(table)

('bookings',)
('menuitem',)
('menus',)
('orders',)

In [64]:
# join menus and menuitems
join_table = """SELECT MT.Name, MT.Type, MT.Price, M.Cuisine
FROM MenuItem MT
INNER JOIN Menus M
ON MT.ItemID = M.ItemID;
"""

In [65]:
cursor.execute(join_table)

In [66]:
fetch_table = cursor.fetchall()

In [67]:
print(fetch_table)

[('Olives', 'Starters', 5, 'Greek'), ('Greek salad', 'Main Courses', 15, 'Greek'), ('Greek yoghurt', 'Desserts', 7, 'Greek'), ('Athens White wine', 'Drinks', 25, 'Greek'), ('Minestrone', 'Starters', 8, 'Italian'), ('Pizza', 'Main Courses', 15, 'Italian'), ('Cheesecake', 'Desserts', 4, 'Italian'), ('Turkish Coffee', 'Drinks', 10, 'Italian'), ('Falafel', 'Starters', 7, 'Turkish'), ('Ice cream', 'Desserts', 6, 'Turkish'), ('Turkish Coffee', 'Drinks', 10, 'Turkish'), ('Kabasa', 'Main Courses', 17, 'Turkish')]

In [68]:
print(cursor.column_names)
for tables in fetch_table:
    print(tables)

('Name', 'Type', 'Price', 'Cuisine')
('Olives', 'Starters', 5, 'Greek')
('Greek salad', 'Main Courses', 15, 'Greek')
('Greek yoghurt', 'Desserts', 7, 'Greek')
('Athens White wine', 'Drinks', 25, 'Greek')
('Minestrone', 'Starters', 8, 'Italian')
('Pizza', 'Main Courses', 15, 'Italian')
('Cheesecake', 'Desserts', 4, 'Italian')
('Turkish Coffee', 'Drinks', 10, 'Italian')
('Falafel', 'Starters', 7, 'Turkish')
('Ice cream', 'Desserts', 6, 'Turkish')
('Turkish Coffee', 'Drinks', 10, 'Turkish')
('Kabasa', 'Main Courses', 17, 'Turkish')

In [69]:
# Add your code here
query2 = """SELECT MT.Name, MT.Type, M.Cuisine, MT.Price
FROM MenuItem MT
LEFT JOIN Menus M
ON M.ItemID = MT.ItemID
WHERE M.Cuisine IS NULL;
"""

In [70]:
cursor.execute(query2)

In [71]:
fetch_query2 = cursor.fetchall()

In [72]:
print(cursor.column_names)
for names in fetch_query2:
    print(names)

('Name', 'Type', 'Cuisine', 'Price')
('Flatbread', 'Starters', None, 5)
('Tomato bread', 'Starters', None, 8)
('Hummus', 'Starters', None, 5)
('Bean soup', 'Main Courses', None, 12)
('Corfu Red Wine', 'Drinks', None, 30)

In [73]:
import datetime as dt

In [74]:
current_time = dt.datetime.now()
print(current_time)

2023-06-07 13:09:56.028679

In [75]:
print(current_time.date()) #print current date
print(current_time.time()) #print current time

2023-06-07
13:09:56.028679

In [76]:
# what is the date for 7 days from now
week = dt.timedelta(7)
print(current_time.date() + week)

2023-06-14

In [77]:
# add one hour to each bookingslot in Bookings table
book_query = """SELECT * FROM Bookings
"""

In [78]:
cursor.execute(book_query)

In [79]:
print(cursor.column_names)

('BookingID', 'TableNo', 'GuestFirstName', 'GuestLastName', 'BookingSlot', 'EmployeeID')

In [80]:
for row in cursor:
    bookingid = row[0]
    bookingslot = row[4]
    new_bookingslot = bookingslot + dt.timedelta(hours = 1)
    print("BookingID {} is moved from {} time to {} time".format(bookingid, bookingslot, new_bookingslot))

BookingID 1 is moved from 19:00:00 time to 20:00:00 time
BookingID 2 is moved from 19:00:00 time to 20:00:00 time
BookingID 3 is moved from 15:00:00 time to 16:00:00 time
BookingID 4 is moved from 17:30:00 time to 18:30:00 time
BookingID 5 is moved from 18:30:00 time to 19:30:00 time
BookingID 6 is moved from 20:00:00 time to 21:00:00 time

### Task 1:

Along with the booking ID, little lemon needs to add the full name of the guests in upper case on their invoices. Help little lemon to extract the data in the required format.  

TIP: Target `GuestFistName`, `GuestLastName` and combine them to get `GuestFullName`.

In [81]:
concat_name = """ SELECT BookingID AS ID, UPPER(CONCAT(GuestFirstName, ' ', GuestLastName)) AS GuestFullName FROM Bookings;
"""

In [82]:
cursor.execute(concat_name)

In [83]:
fetch_names = cursor.fetchall()

In [84]:
print(cursor.column_names)
for n in fetch_names:
    print(n)

('ID', 'GuestFullName')
(1, 'ANNA IVERSEN')
(2, 'JOAKIM IVERSEN')
(3, 'VANESSA MCCARTHY')
(4, 'MARCOS ROMERO')
(5, 'HIROKI YAMANE')
(6, 'DIANA PINTO')

### Task 2
Little lemon needs to know the following statistics at closing: 

* Number of bookings 
* Total sale 
* Average sale 

Help little lemon to compute the required statistics from the data in the “Orders” table using python.

In [85]:
orders_table = """SELECT * FROM Orders"""

In [86]:
cursor.execute(orders_table)

In [87]:
cols = cursor.column_names
print(cols)

('OrderID', 'TableNo', 'MenuID', 'BookingID', 'BillAmount', 'Quantity')

In [88]:
fetch_orders = cursor.fetchall()

In [89]:
stats_orders = """SELECT COUNT(BookingID) AS ID, SUM(BillAmount) AS Total_sales, AVG(BillAmount) AS Avg_sales FROM Orders
"""

In [90]:
cursor.execute(stats_orders)

In [91]:
results = cursor.fetchall()

In [92]:
print("Today's statistics:")
for result in results:
    print("Number of bookings:",result[0])
    print("Total sale:",result[1])
    print("Average sale:",result[2])

Today's statistics:
Number of bookings: 5
Total sale: 243
Average sale: 48.6000

### Task 3:

Little lemon needs to know the number of bookings for each table. Please help them to print the table number and the number of bookings for each table.

In [93]:
table_bookings = """ SELECT TableNo, COUNT(TableNo) AS n_booking FROM Bookings GROUP BY TableNo;
"""

In [94]:
cursor.execute(table_bookings)

In [95]:
fetch_no = cursor.fetchall()

In [96]:
print(cursor.column_names)
for n in fetch_no:
    print(n)

('TableNo', 'n_booking')
(12, 2)
(19, 1)
(15, 1)
(5, 1)
(8, 1)

### Task 4:

Little lemon wants to create three arrival slots for the guests based on the booking hour: 

* Late afternoon: for hours 15 and 16  
* Evening: for hours 17 and 18 
* Night: for hours 19 and 20 

Help little lemon to create the above slots and display the booking ID, guest name, and arrival slot on the kitchen screen so that the staff can plan accordingly.

In [97]:
arrival = """ SELECT BookingID, CONCAT(GuestFirstName, ' ', GuestLastName) AS Guest_Name,
CASE
    WHEN HOUR(BookingSlot) >= 15 AND HOUR(BookingSlot) <= 16 THEN 'Late Afternoon'
    WHEN HOUR(BookingSlot) >= 17 AND HOUR(BookingSlot) <= 18 THEN 'Evening'
    WHEN HOUR(BookingSlot) >= 19 AND HOUR(BookingSlot) <= 20 THEN 'Night'
END AS Arrival_Slot
FROM Bookings
"""

In [98]:
cursor.execute(arrival)

In [99]:
fetch_arrival = cursor.fetchall()

In [100]:
print(cursor.column_names)
for arr in fetch_arrival:
    print(arr)

('BookingID', 'Guest_Name', 'Arrival_Slot')
(1, 'Anna Iversen', 'Night')
(2, 'Joakim Iversen', 'Night')
(3, 'Vanessa McCarthy', 'Late Afternoon')
(4, 'Marcos Romero', 'Evening')
(5, 'Hiroki Yamane', 'Evening')
(6, 'Diana Pinto', 'Night')

### Task 1

Little Lemon wants to retrieve the number of bookings in each hour so that they can schedule the staff duties accordingly. Use the following steps as a guide to complete this task:  

* Target the “BookingID” and “BookingSlot” columns from the “Bookings” table.  
* Extract the hour from the “BookingSlot” column and count the bookings in each hour. 
* Group and order the data by hour.

In [101]:
query_sql = """SELECT BookingID, HOUR(BookingSlot), COUNT(BookingSlot) FROM Bookings GROUP BY BookingID ORDER BY HOUR(BookingID)
"""

In [102]:
cursor.execute(query_sql)

In [103]:
fetch_sql = cursor.fetchall()

In [104]:
print("Upcoming Bookings:")
for query in fetch_sql:
    print("Hour: {} <<>> {} Booking/s".format(query[1], query[2]))

Upcoming Bookings:
Hour: 19 <<>> 1 Booking/s
Hour: 19 <<>> 1 Booking/s
Hour: 15 <<>> 1 Booking/s
Hour: 17 <<>> 1 Booking/s
Hour: 18 <<>> 1 Booking/s
Hour: 20 <<>> 1 Booking/s

### Task 2

Little Lemon needs to display the following information in the staff’s room: 

* Table number 
* Guest’s full name 
* Arrival time in hours and minutes (e.g., 15 hours and 0 mins) 

Help Little Lemon to retrieve and display the required information. Use the following steps as a guide to complete this task: 

* Target `TableNo`, `GuestFirstName`, `GuestLastName` and `BookingSlot` columns in the `Bookings` table.  
* Order the data by `BookingSlot`.  
* Use Python’s `datetime` module to extract hours and minutes using the `strptime` function when printing the record.

In [105]:
name = """SELECT TableNo, CONCAT(GuestFirstName, " ", GuestLastName) AS Guest_Name, BookingSlot FROM Bookings
ORDER BY BookingSlot;
"""

In [106]:
cursor.execute(name)

In [107]:
fetch_name = cursor.fetchall()

In [108]:
from datetime import datetime
print("The quests and their booking slots are: ")
for names in fetch_name:
    days = names[2].days
    seconds = names[2].seconds
    dates = names[2]
    hours = seconds//3600
    minutes = (seconds//60)%60
    
    print("[Table no:] {} >> {} is expected to arrive at {} hrs and {} mins".format(names[0], names[1], hours, minutes))

The quests and their booking slots are:
[Table no:] 19 >> Vanessa McCarthy is expected to arrive at 15 hrs and 0 mins
[Table no:] 15 >> Marcos Romero is expected to arrive at 17 hrs and 30 mins
[Table no:] 5 >> Hiroki Yamane is expected to arrive at 18 hrs and 30 mins
[Table no:] 12 >> Anna Iversen is expected to arrive at 19 hrs and 0 mins
[Table no:] 12 >> Joakim Iversen is expected to arrive at 19 hrs and 0 mins
[Table no:] 8 >> Diana Pinto is expected to arrive at 20 hrs and 0 mins

### Task 3

A guest with booking ID 2 and table number 12 wants to change the arrival time by one hour. Help Little Lemon to make this change using Python in their application. Use the following steps as a guide to complete this task: 

* Target `BookingID`, `TableNo` and `BookingSlot` columns in the `Bookings` table.  
* Add one hour in the “BookingSlot”.  
* Use the `WHERE` clause on `TableNo` and `BookingID` columns.

In [109]:
quest_id = """SELECT BookingID, TableNo, BookingSlot FROM Bookings WHERE BookingID = 2 AND TableNo = 12;
"""

In [110]:
cursor.execute(quest_id)

In [111]:
fetch_quest = cursor.fetchall()

In [112]:
print("Booking Time Alert!!")
for quest in fetch_quest:
    new_time = quest[2] + dt.timedelta(hours = 1)
    print("Booking ID: {}".format(quest[0]))
    print("Table number: {}".format(quest[1]))
    print("Booked slot: {}".format(quest[2]))
    print("New arrival time: {}".format(new_time))

Booking Time Alert!!
Booking ID: 2
Table number: 12
Booked slot: 19:00:00
New arrival time: 20:00:00

### STORED PROCEDURE IN PYTHON

In [113]:
# get the details of customers that have spent over 50 dollars and is qualified for a voucher


cursor.execute("DROP PROCEDURE IF EXISTS GetCustomerAndBillAmount;")

procedure_query = """
CREATE PROCEDURE GetCustomerAndBillAmount()
BEGIN
SELECT B.BookingID,
CONCAT(B.GuestFirstName, ' ', B.GuestLastName) AS CustomerName,
O.BillAmount
FROM Bookings B
INNER JOIN ORDERS O
ON B.BookingID = O.BookingID
WHERE BillAmount >= 50
ORDER BY BillAmount DESC;
END
"""

In [114]:
# excute the procedure created
cursor.execute(procedure_query)

In [115]:
# call procedure
cursor.callproc("GetCustomerAndBillAmount")

()

In [116]:
results = next(cursor.stored_results())

In [117]:
datasets = results.fetchall()

In [118]:
print(results.column_names)
for data in datasets:
    print(data)

('BookingID', 'CustomerName', 'BillAmount')
(1, 'Anna Iversen', 86)

### Task 3:

It is very important for little lemon to keep track of the status of each guest’s order and display it on the screen to keep their guests informed.  

This is how they categorize the orders: 

* If not assigned to any employee, the status is `In Queue` 
* If assigned to the employees with IDs 4 and 5, the status is `Preparing Order` 
* If assigned to the employees with IDs 1, 2, and 3, the status is `Order Served` 

Create a stored procedure named `OrderStatus` for the above task and call to check if everything is working.

In [119]:
cursor.execute("DROP PROCEDURE IF EXISTS OrderStatus;")

In [120]:
guests = """
CREATE PROCEDURE OrderStatus()
BEGIN
SELECT EmployeeID,
CASE
WHEN EmployeeID IN (4, 5) THEN 'Preparing Order'
WHEN EmployeeID IN (1, 2, 3) THEN 'Order Served'
ELSE 'In Queue' END AS Status
FROM Bookings;
END
"""

In [121]:
cursor.execute(guests)

In [122]:
cursor.callproc("OrderStatus")

()

In [123]:
quest = next(cursor.stored_results())

In [124]:
quest_result = quest.fetchall()

In [125]:
print(quest.column_names)
for q in quest_result:
    print(q)

('EmployeeID', 'Status')
(1, 'Order Served')
(1, 'Order Served')
(3, 'Order Served')
(4, 'Preparing Order')
(2, 'Order Served')
(5, 'Preparing Order')

## MYSQL CONNECTION POOLING

In [126]:
from mysql.connector.pooling import MySQLConnectionPool

In [127]:
my_pool = MySQLConnectionPool(pool_name= 'little_lemon_pool', pool_size=4, host='localhost',
                              database='little_lemons', user='root', password='root123')

In [128]:
users = ['Dan', 'Sandy', 'Mary', 'Joseph']

In [129]:
slect_stmt = "SELECT * FROM Bookings WHERE BookingID = %(booking_id)s"

In [130]:
for i in range(my_pool.pool_size):
    conn = my_pool.get_connection()
    if conn.is_connected:
        cursor=conn.cursor()
        print("The connection id for {} {} is requestiong info on booking ()".format(users[i], conn.connection_id, i+1))
        cursor.execute(slect_stmt, {'booking_id': i+1})
        print(cursor.fetchall())
    else:
        print('no live connection made')
#     conn.close()

The connection id for Dan 24 is requestiong info on booking ()
[(1, 12, 'Anna', 'Iversen', datetime.timedelta(seconds=68400), 1)]
The connection id for Sandy 25 is requestiong info on booking ()
[(2, 12, 'Joakim', 'Iversen', datetime.timedelta(seconds=68400), 1)]
The connection id for Mary 26 is requestiong info on booking ()
[(3, 19, 'Vanessa', 'McCarthy', datetime.timedelta(seconds=54000), 3)]
The connection id for Joseph 27 is requestiong info on booking ()
[(4, 15, 'Marcos', 'Romero', datetime.timedelta(seconds=63000), 4)]

In [131]:
print(conn.database)

little_lemons

### Task 1
Create a database connection pool with three connections available for the users to connect to the database with. You need to import MySQLConnectionPool class and pass the following arguments:

* pool_name = “ll_pool_a”

* pool_size = 3

* **dbconfig

### Task 2
et a connection from the database connection pool that you have created in the first task and retrieve the following columns from the Bookings table:

* BookingID

* GuestFirstName

* GuestLastName

Retrieve the required columns and put the connection back into the pool after you have completed the task.

In [132]:
# New pooling connection
from mysql.connector.pooling import MySQLConnectionPool

dbconfig = MySQLConnectionPool(pool_name='ll_pool_a', pool_size = 3, database = 'little_lemons',
user= 'root', password ='root123')

In [133]:
# Add your code here
select_data = "SELECT BookingID, GuestFirstName, GuestLastName FROM Bookings;"

In [134]:
# getting connection
print("Creating connection for the pool")
connection = dbconfig.get_connection()
print(connection)


# creating cursor object
print("Creating connection for the cursor object")
cursor = connection.cursor()

# execute query
print("Executing sql query")
cursor.execute(select_data)

# fetching query
print("Fetching the query results")
sql_query = cursor.fetchall()

# reterive the columns
print("Retreiving columns")
cols = cursor.column_names

# print column names and query results
print('Printing the results.\n')
print("Upcoming bookings are: \n")
print(cols)
for query in sql_query:
    print(query)

Creating connection for the pool
<mysql.connector.pooling.PooledMySQLConnection object at 0x000001F200370DC0>
Creating connection for the cursor object
Executing sql query
Fetching the query results
Retreiving columns
Printing the results.

Upcoming bookings are:

('BookingID', 'GuestFirstName', 'GuestLastName')
(1, 'Anna', 'Iversen')
(2, 'Joakim', 'Iversen')
(3, 'Vanessa', 'McCarthy')
(4, 'Marcos', 'Romero')
(5, 'Hiroki', 'Yamane')
(6, 'Diana', 'Pinto')

### Task 3

You only have three connections in the database connection pool. Use the available connection in the pool to connect three guests and then add new connections to the pool to connect the two remaining guests. Ensure that all five guests are connected to the database at the same time, by adding more connections to the pool.

In [135]:
# Add your code here

from mysql.connector.pooling import MySQLConnectionPool

config = MySQLConnectionPool(pool_name='ll_pool_a', pool_size = 3, database = 'little_lemons',
user= 'root', password ='root123')

In [136]:
quests = ["Anna", "Marcod", "Diana", "Joakin", "Hiroki"]

import mysql.connector as connector

# Assign connection to each user
for guest in quests:
    try:
        guest_connected = config.get_connection()
        print("[{}] is connected.\n".format(guest))
    except:
        print("No more connections are available.")
        print("Adding new connection in the pool.")
        
        # Create a connection
        connection=connector.connect(user="root",password="root123")
        # Add the connection into the pool
        config.add_connection(cnx=connection)
        print("A new connection is added in the pool.\n")
        
        user_connected = config.get_connection()
        print("[{}] is connected.\n".format(guest))

[Anna] is connected.

[Marcod] is connected.

[Diana] is connected.

No more connections are available.
Adding new connection in the pool.
A new connection is added in the pool.

[Joakin] is connected.

No more connections are available.
Adding new connection in the pool.
A new connection is added in the pool.

[Hiroki] is connected.

In [137]:
a = "SELECT CONCAT(11, 22)"
print(a)

SELECT CONCAT(11, 22)

In [140]:
# i have 2 pool created and i need to add 3 pools. So i have to add an additional pool
# # Connect the first guest.
# connection1 = pool.get_connection()
# cursor1=connection1.cursor()
# booking1="""INSERT INTO Bookings 
# (TableNo, GuestFirstName, GuestLastName, BookingSlot, EmployeeID)
# VALUES
# (8,'Anees','Java','18:00:00',6);"""
# cursor1.execute(booking1)
# connection1.commit()
# print("""A new booking is added in the "Bookings" table.""")

# # Connect the second guest .
# connection2 = pool.get_connection()
# cursor2=connection2.cursor()
# booking2="""INSERT INTO Bookings 
# (TableNo, GuestFirstName, GuestLastName, BookingSlot, EmployeeID)
# VALUES
# (5, 'Bald','Vin','19:00:00',6);"""
# cursor2.execute(booking2)
# connection2.commit()
# print("""A new booking is added in the "Bookings" table.""")

# # # Adding a new connection to connect the third user.
# # import mysql.connector as connector
# # try:
# #     connection3 = pool.get_connection()
# #     print("The guest is connected")
# # except:
# #     print("Adding new connection in the pool.")
        
# #     # Create a connection
# #     connection=connector.connect(user="root",password="root123")
# #     # Add the connection into the pool
# #     pool.add_connection(cnx=connection)
# #     print("A new connection is added in the pool.\n")
        
# #     connection3 = pool.get_connection()
# #     print("'connection3' is added in the pool.")
    
# # Connect the third guest 
# connection3 = pool.get_connection()
# cursor3=connection3.cursor()

# booking3="""INSERT INTO Bookings 
# (TableNo, GuestFirstName, GuestLastName, BookingSlot, EmployeeID)
# VALUES
# (12, 'Jay','Kon','19:30:00',6);"""
# cursor3.execute(booking3)
# connection3.commit()

# print("""A new booking is added in the "Bookings" table.""")

# # You can only return two connections back to the pool as the pool_size=2.
# #  Close all  connections and use try-except to print the pool error if the pool is already full.

# from mysql.connector import Error
# for connection in [connection1,connection2, connection3]:
#     try:
#         connection.close()
#         print("Connection is returned to the pool")
#     except Error as er:
#         print("\nConnection can't be returned to the pool")
#         print("Error message:", er.msg)